.workout-item {
  border: black 2px solid;
  height: 3rem;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.workout-container {
  display: flex;
}

.workout-container > .workout-text-container > .active:hover {
  cursor: pointer;
}

.inactive {
  background-color: blue;
  color: seashell;
  opacity: 0.5
}

.active {
  display: flex;
}

.workout-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-text-container > p {
  margin-top: 0
}